<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    
</head>
  <body>
    <div class="container mb-3">

      <h2 class="mb-3">Minting</h2>

      <P>랜덤 민팅!</p>
      
      <input type="button" id='wallet' value="<%= wallet %>">

    </div>
  </body>

  <script src="/js/wallet_b.js"></script>
</html>